/* MOBILE FIRST (385 X 645) WEB(1201 X 645) */

/*===== GOOGLE FONTS ======*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*===== VARIBLES CSS ======*/
:root {
    --header-height: 3rem;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 600;
}

/*===== COLORES ======*/
:root {
    --first-color: #a29596;
    --primary: #a29596;
    --second-color: #33303d;
    --black-color: #111;
    --white-color: #fff;
}

/*===== TYPE FONTS ======*/
:root {
    --body-font: 'Roboto', sans-serif;
    --biggest-font-size: 1.5rem;
    --big-font-size: 1.5rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
    :root {
        --biggest-font-size: 3.25rem;
        --big-font-size: 2.5rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813
    }
}

/*===== Z INDEX =====*/
:root {
    --z-back: -10;
    --z-normal: 0;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*===== BASE =====*/
*,::before,::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    background: var(--white-color);
    color: var(--black-color);
}

h1, h2, h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* img {
    max-width: 100%;
    height: auto;
    display: block;
} */


/*===== LAYOUT =====*/
.bd-grid {
    max-width: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--white-color);
}

/*===== NAV =====*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav_menu {
        position: fixed;
        left: -100%;
        top: var(--header-height);
        width: 80%;
        height: 100%;
        padding: 2rem;
        z-index: var(--z-fixed);
        transition: 0.5s;
        background-color: var(--white-color);
    }
}

.nav_item {
    margin-bottom: 2rem;
    font-weight: var(--font-bold);
}

.nav_link {
    color: var(--black-color);
}

.nav_toggle {
    cursor: pointer;
}

/*===== MENU SHOW =====*/
.show{
    left: 0;
}

/*===== HOME =====*/
.home {
    height: calc(100vh - var(--header-height));
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas: 'sneaker';
    overflow: hidden;
}

/*===== SNEAKER =====*/
.sneaker {
    grid-area: sneaker;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    position: relative;
}

.sneaker_figure {
    width: 240px;
    height: 240px;
    background-color: var(--primary);
    border-radius: 50%;
    transition: .5s;
}

.sneaker_img {
    width: 313px;
    position: absolute;
    top: 16%;
    left: 9%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(30deg);
    opacity: 0;
    filter: drop-shadow(0 10px 10px rgba(17, 17, 17, 0.4));
}

.sneaker_img.shows {
    opacity: 1;
}

.sneaker_colors {
    position: absolute;
    right: 2%;
}
.sneaker_color {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.sneaker_color.active {
    border: 2px solid var(--white-color);
    box-shadow: 0 0 2px black;
}

.sneaker_colors-one {
    background-color: var(--first-color);
}

.sneaker_colors-two {
    background-color: var(--black-color);
}

/*===== DATA =====*/
.data {
    margin-bottom: 1.5rem;
}

.data_subtitle {
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.data_title {
    font-size: var(--biggest-font-size);
    margin-bottom: 0.5rem;
}

.data_description {
    font-size: var(--normal-font-size);
}

/*===== ACTIONS =====*/
.actions {
    display: flex;
    justify-content: space-between;
}

.size_title {
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
}
.size_content {
    display: flex;
}

.size_contents {
    width: 30px;
    height: 30px;
    margin-right: .5rem;
    font-size: var(--smaller-font-size);
    text-align: center;
    line-height: 30px;
    border-radius: .25rem;
    cursor: pointer;
}

.size_contents.active {
    background-color: var(--primary);
    color: var(--white-color);
}

/*===== QUANTITY =====*/
.quantity_title {
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
}

.quantity_content {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--white-color);
    padding: 0.5rem;
    border-radius: 0.25rem;
}

/*===== PRICE =====*/
.price {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: var(--white-color);
    border-radius: 1.5rem 1.5rem 0 0;
    box-shadow: 0 0 20px rgba(17, 17, 17, 0.25);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.price_title {
    font-size: var(--big-font-size);
    color: var(--black-color);
}

.price_button {
    background-color: var(--primary);
    color: var(--white-color);
    padding: 1.25rem 3.125rem;
    border-radius: .5rem;
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    /*===== NAV =====*/
    .nav {
        height: calc(var(--header-height) + 1rem);
    }
    .nav_list {
        display: flex;
    }
    .nav_item {
        margin-right: 3rem;
        margin-bottom: 0;
    }
    .nav_toggle {
        display: none;
    }
    
    /*===== HOME =====*/
    .home {
        height: 100vh;
        grid-template-columns: max-content max-content;
        grid-template-rows: max-content;
        align-content: center;
        justify-content: center;
        column-gap: 6rem;
    }

    /*===== SNEAKER =====*/
    .sneaker_figure {
        width: 430px;
        height: 430px;
    }
    .sneaker_img {
        width: 550px;
        top: 13%;
        left: -6%;
    }
    .sneaker_colors {
        right: initial;
        bottom: 0;
    }
    .sneaker_colors span {
        display: inline-block;
    }

    /*===== INFO =====*/
    .info {
        align-self: center;
    }
    .data {
        margin-bottom: 2.5rem;
    }
    .data_subtitle {
        font-size: 1.5rem;
    }
    .data_title {
        margin-bottom: 1rem;
    }
    
    /*===== SIZE =====*/
    .size {
        margin-bottom: 2.5rem;
    }
    .size_contents {
        width: 34px;
        height: 34px;
        line-height: 35px;
    }

    /*===== PRICE =====*/
    .price {
        position: initial;
        background-color: initial;
        justify-content: space-between;
        box-shadow: none;
    }
    .price_title {
        color: var(--black-color);
        font-weight: var(--font-medium);
    }
}

@media screen and (min-width: 1200px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}
