.header {
    height: var(--header-height);
    background-color: #ff6433;
}

.main {
    overflow: hidden;
}
/* NAV */

.nav {
    display: flex;
    justify-content: space-between;
}
.nav__list {
    /* mặc dịnh nó đã padding left 40 */
    padding-left: 0;
    margin: 8px 0 0 0;
    display: flex;
    align-items: center;
}
.nav__item, .nav__link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
}

.nav__item {
    margin: 0 8px;
    position: relative;
    min-height: 18px;
}

.nav__item--line::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #fb9086;
    height: 16px;
    right: -11px;
    top: 50%;
    transform: translateY(-50%)
}

.nav__item:hover, .nav__link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.nav__link--social {
    color: var(--white-color);
    text-decoration: none;
}

.nav__link--social:nth-child(2) {
    margin-left: 4px;
}

.nav__link--social-icon {
    font-size: 1.7rem;
    margin: 0px 4px;
}

.nav__item, 
.nav__link,
.nav__link--social {
    display: inline-flex;
    align-items: center;
}

.no-pointer {
    cursor: text;
    color: #fff;
}

.nav__avatar {
    display: flex;
    justify-items: center;
}

.nav__avatar-img {
    width: 22px;
    height: 22p;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.nav__username {
    margin-left: 4px;
    font-size: 1.4rem;
}

.nav__user-menu {
    position: absolute;
    /* padding-left: 0; */
    padding: 8px 0;
    top: calc(100% + 8px);
    right: 0;
    border-radius: 2px;
    background-color: #fff;
    width: 160px;
    z-index: 3;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
.nav__user-menu::before {
    content: "";
    border-width: 17px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 17px;
    top: -26px;
}

.nav__user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 60%;
    height: 12px;
    /* background-color: #000; */
}

.nav__avatar:hover .nav__user-menu {
    display: block;
}

.nav__user-item a {
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 8px 16px;
}

.nav__user-item a:hover {
    background-color: #fafafa;
}
.nav__user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.nav__user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.nav__user-item-logout a{
    color: var(--primary-color);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
/* QR CODE */
.nav__qr {
    width: 185px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 180%;
    padding: 5px;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 3;
}

/* DÙNG NÓ LÀM CẦU NỐI HOVER */
.nav__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -20px;
    /* background-color: #000; */
}

.nav__qr-img {
    width: 100%;
}

.nav__qr-apps {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.nav__qr-download {
    height: 16px;
}

.nav__qr-link-1 {
    margin-left: 0px;
}

.nav__qr-link-2 {
    margin-right: 8px;
}

.nav__item--hoverqr:hover .nav__qr {
    display: block;
}

/* NOTIFICATION */
.nav__notification {
    position: absolute;
    top: 180%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    animation: navNotify ease-in 0.2s;
    --webkit-anmation: navNotify ease-in 0.2s;
    --ms-animation: navNotify ease-in 0.2s;
    -o-animation: navNotify ease-in 0.2s;
    -moz-animation: navNotify ease-in 0.2s;
    /* định cái tâm của scale*/
    transform-origin: calc(100% - 32px) top; 
    /* thuộc tính gì sẽ thay đổi */
    will-change: opacity, transform;
    display: none;
    z-index: 3;
    border-radius: 2px;
}

.nav__notification::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 15px;
    top: -30px;
}

.nav__notification::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -20px;
    width: 100%;
    height: 20px;
    /* background-color: #000; */
}

@keyframes navNotify {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.nav__notification-header {
    height: 40px;
    background-color: var(--white-color);
}
.nav__notification-header h3 {
    color: #bbb;
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    line-height: 40px;
    font-weight: 300;
    user-select: none;
}
.nav__notification-list {
    padding-left: 0;
}
.nav__notification-item {
    display: flex;
}
.nav__notification-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}
.nav__notification-img {
    width: 48px;
    object-fit: contain;
}
.nav__notification-info {
    margin-left: 12px;
}
.nav__notification-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 1.8rem;
    margin-bottom: 4px;
}
.nav__notification-desc {
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.8rem;
}

.nav__notification-item--read {
    background-color: rgba(238, 75, 43, 0.08);
}

.nav__notification-item:hover {
    background-color: #f7f7f7;
}

.nav__notification-footer {
    display: flex;
}

/* canh giữa dựa trên display flex */
/* .nav__notification-footer-btn {
    color: var(--text-color);
    padding: 14px 20px;
    margin: auto; 
    font-weight: 400;
} */

.nav__notification-footer-btn {
    color: var(--text-color);
    padding: 14px 20px;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.nav__notification-footer-btn:hover {
    background-color: #f7f7f7;
}

.nav__item--hovernotify:hover .nav__notification {
    display: block;
}

/* AUTHEN MODAL */
.auth-form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden; 
    /* border ở background xám */
}
.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.auth-form__heading {
    font-size: 2.1rem;
    font-weight: 300;
    color: var(--text-color);
}

.auth-form__switchbtn {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.3rem;
    border: 2px solid var(--border-color);
    border-radius: 3px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form_aside {
    margin-top: 18px;
}

.auth-form__policy {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__policy-link {
    color: var(--primary-color);
    font-weight: 700;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 10px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.6rem;
}

.auth-form__socials-facebook {
    background-color: #3a5a98;
    color: #fff;
    border-radius: 3px;
}

.auth-form__socials-facebook
.auth-form__socials-icon {
    color: #fff;
}

.auth-form__socials-label {
    margin: 0 36px;
}

.auth-form__socials-google
.auth-form__socials-icon {
    color: rgb(207, 41, 41);
}

.auth-form__socials-google {
    background-color: #fff;
    color: var(--text-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-line {
    display: block;
    border-left: 2px solid var(--border-color);
    height: 20px;
    margin: -2px 16px 0;
}

.auth-form__help-forgot {
    color: var(--primary-color);
    font-weight: 700;
}

/* HEADER WITH SEARCH */
.header-with-search {
    height: var(--header-with-search-height); 
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}
.header__logo-link {
    color: transparent;
    display: block;
    line-height: 0;
}
.header__logo-img {
    width: 150px;
    color: #fff;
    margin-top: -6px;
}
.header__search {
    flex: 1;
    height: 40px;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.header__mobile-search {
    padding: 0 12px;
    display: none;
}
.header__mobile-search-icon {
    font-size: 2.6rem;
    color: #fff;
}

.header__checkbox-search:checked ~ .header__search {
    display: flex;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.2rem;
    margin-top: 2px;
}

.header__cart-warp {
    position: relative;
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
} 

.header__search-selection {
    border-left: 2px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-selection-label {
    font-size: 1.4rem;
    color: var(--text-color)
}

.header__search-selection-icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    margin: 0 16px 0 8px;
    position: relative;
    top: 0px;
}

.header__search-btn {
    background-color: #ff6433;
    border: none;
    outline: none;
    width: 60px;
    height: 34px;
    border-radius: 3px;
    margin-right: 3px;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #ec593c;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% + 6.5px);
    width: 135px;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    /* background-color: #000; */
    left: 0;
    top: -20px;
}

.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 8px 8px;
    /* text-align: right; */
}

.header__search-option-item:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 12px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: #ec593c;
    margin-left: 16px;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-selection:hover .header__search-option {
    display: block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-category {
    display: flex;
    margin-top: 8px;
    padding-left: 0;
}

.header__search-category-item {
    color: #fff;
    font-size: 1.2rem;
}

.category-left {
    margin-left: 10px;
}

/* SEARCH HISTORY */
.header__search-history {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: calc(100% - 16px);
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    display: none;
    overflow: hidden;
    z-index: 2;
}

.header__search-history-heading {
    margin: 12px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* CART */
.header__cart-list {
    position: absolute;
    top: calc(100% + 12px);
    right: -9px;
    background-color: #fff;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
    z-index: 3;
}

.header__cart-no-cart-img {
    width: 30%;
    /* HIDE NO CART */
    display: none;
}

.header__cart-list--no-cart {
    padding: 50px 0;
    text-align: center;
}

.header__cart-list-msg {
    /* display: block; */
    /* HIDE NO CART */
    display: none;
    font-size: 1.4rem;
    margin-top: 10px;
    color: var(--text-color);
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 0px;
    top: -29px;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    cursor: pointer;
}

.header__cart-warp:hover .header__cart-list {
    display: block;
}

.header__cart-list--no-cart .header__cart-list-msg,
.header__cart-list--no-cart .header__cart-no-cart-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-notice {
    position: absolute;
    top: -4px;
    right: -16px;
    padding: 1px 7px;
    background-color: #fff;
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
}

/* LIST PRODUCT CART */
.header__cart-list-heading {
    text-align: left;
    margin: 12px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
}
.header__cart-list-item {
    padding-left: 0;
    /* 50% của trình duyệt */
    height: 20vh;
    overflow-y: auto;
}
.header__cart-item {
    display: flex;
    align-items: center;
}
.header__cart-item-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}
.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}
.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}
.header__cart-item-price {
    font-size: 1.4rem;
    color: var(--primary-color);
}
.header__cart-item-multi {
    font-size: 1rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-quantity {
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}
.header__cart-item-desc {
    font-size: 1.2rem;
    color: #757575;
    font-weight: 300;
}
.header__cart-item-remove {
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
}
.header__cart-viewcart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-viewcart:hover {
    background-color: #f05d41;
}

/* header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: 46px;
    background-color: #fff;
    /* display: flex; */
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}
.header__sort-item {
    flex: 1;
}
.header__sort-link {
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: 46px;
    text-align: center;
    position: relative;
}
.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color)
}
/* vạch đầu tiên */
.header__sort-item:first-child .header__sort-link::before {
    display: none;
}
/* CONTAINER */
.container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

/* CATEGORY */
.category {
    background-color: #fff;
    border-radius: 2px;
}

.category__heading {
    color: var(--text-color);
    font-size: 1.4rem;   
    padding: 12px 16px 6px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
    margin-top: 0;
    /* bỏ di margin măc định của H3 */
    text-transform: uppercase;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 8px;
    /* position: relative;
    top: 0px; */
}

.category-list {
    padding-left: 0;
    padding-bottom: 8px;
}

.category-item {
    position: relative;
}

.category-item::before {
    content: "";
    position: absolute;
    border-top: 1px solid #e1e1e1;
    top: 0;
    left: 16px;
    right: 16px;
}

.category-item:first-child::before {
    display: none;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

/* .category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 6px;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    transform: translateY(calc(-50% - 1px));
} */

.category-item__link {
    position: relative;
    right: 0;
    color: var(--text-color);
    display: block;
    font-size: 1.4rem;
    padding: 10px 16px;
}

/* .category-item__link:hover {
    color: var(--primary-color);
} */


/* CATEGORY MOBILE */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}
.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link{
    background-color: #87afd8;
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
    background-color: #76c9bd;
}
.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link{
    background-color: #88cf81;
}
.mobile-category__link {
    font-size: 1.4rem;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 2rem;
    height: calc(2rem *2);
    overflow: hidden;
    line-height: 2rem;
    text-align: center;
    width: 110px;
    height: 40px;
    display: block;
    border-radius: 5px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* dòng 2 */
    -webkit-line-clamp: 2; 
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 6px;
}
/* FILTER */
.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current {
    color: var(--primary-color)
}

.home-filter__page-control {
    overflow: hidden;
    border-radius: 2px;
    display: flex;
    width: 72px;
    height: 32px;
}
.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: #fff;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.3rem;
    color: #555;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-btn-disble {
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn-disble .home-filter__page-icon{
    color: #ccc;
}

/* HOME PRODUCT */
.home-product-item {
    margin-top: 10px;
    background-color: #fff;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    display: block;
    padding-bottom: 4px;
}
.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-2px);
}
.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    /* gioi han 2 dòng : 3 dòng thì 1.8 * 3 = 54px => 2 dòng thì height 3.6rem */
    line-height: 1.8rem;
    height: 3.6rem;
    /* khi dòng 3 bị lòi thì ta ẩn nó đi => hidden */
    overflow: hidden;
    /* hiển thị 3 chấm  */
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* dòng 2 */
    -webkit-line-clamp: 2; 
    text-overflow: ellipsis;

    margin: 10px 10px 4px 10px;
}
.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}
.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 0;
}
.home-product-item__action-like {
    font-size: 1.4rem;
}
i.home-product-item__action-like-icon-fill{
    color: #f63d30;
    display: none;
}
.home-product-item__action-like-liked .home-product-item__action-like-icon-fill {
    display: inline-block;
}

.home-product-item__action-like-liked .home-product-item__action-like-icon-empty{
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}
.home-product-item__star-gold {
    color: var(--star-gold)
}

.home-product-item__sold {
    font-size: 1.1rem;
    color: var(--text-color);
    margin: -1px 0 0 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px;
    color: #595959;
    font-size: 1.2rem;
}

.home-product-item__farvorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding-right: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__farvorite span {
    color: #fff;
}
.home-product-item__farvorite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__farvorite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: #fff;
}

.home-product-item__saleoff {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.9);
    line-height: 1.8rem;
    text-align: center;
    border-top-right-radius: 3px;
}
.home-product-item__saleoff::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.9) transparent rgba(255, 216, 64, 0.9);
}
.home-product-item__saleoff-percent {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.2rem;
    position: relative;
    top: 3px;
}

.home-product-item__saleoff-label {
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
}

.home-product__pagination {
    margin: 48px 0;
    padding-left: 0;
}

/* FOOTER */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}

.footer__heading {
    font-size: 1.4rem;
    color: var(--text-color)
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-link {
    font-size: 1.2rem;
    color: #737373;
    padding: 5px 0;
    display: block;
    display: flex;
    align-items: center;
}

.footer-link:hover {
    color: var(--primary-color);
}

.footer-icon {
    font-size: 1.6rem;
    margin-top: -1px;
    margin-right: 8px;
}

.footer__download {
    display: flex;
    align-items: center;
}

.footer__download-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
}

.footer__download-icon {
    height: 15px;
}

.footer__text {
    margin: 0;
    font-size: 1.3rem;
    text-align: center;
}
.footer__bottom {
    padding: 12px 12px;
    background-color: #f5f5f5;
    color: #737373;
}