/* GOOGLE FONT - POPPINS REGULAR 400 - MEDIUM 500 - SEMI BOLD 600*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* VARIABLE CSS */
:root {
    --header-height: 3rem;

    /* COLOR */
    --title-color: #0b0a0a;
    --text-color: #403a3a;
    --text-color-light: #707070;
    --container-color: #fafafa;
    --container-color-alt: #f0efef;
    --body-color: #fcfcfc;

    /* FONT & TYPE */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;

    /* FONT WEIGHT */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* MARGIN */
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;

    /* Z-INDEX */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* BASE */
*,::before,::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,ul,p {
    margin: 0;
}

h1,h2,h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* LAYOUT */
.bd-container {
    max-width: 1024px;
    width: calc(100% - var(--header-height));
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    transition: .3s;
}
/* CLASS CSS */
.section {
    padding: 1.5rem 0;
}

.section-title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: .35rem;
    text-align: center;
    margin-bottom: var(--mb-3);
    
}


/* HOVER IMAGE */
.text-tag {
    height: calc(var(--header-height) - 1.5rem);
}
.text-tag:hover > a {
    position: relative;
    z-index: 5;
}

.img-container {
    position: relative;
    z-index: 1;
    top: 10px;
    left: 10px;
    opacity: 0;
    visibility: hidden;
}

.text-tag__img {
    border-radius: 10px;
}

/* OVERLAY */
.overlay {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    top: 0%;
}
.overlay h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 6px;
}

.overlay__title {
    color: #0b0a0a;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 6px;
    background: transparent;
    display: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    display: none;
}

/* VARIABLE DARK THEME */
body.dark-theme {
    /* COLOR */
    --title-color: #f2f2f2;
    --text-color: #bfbfbf;
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2b2b2b;
}

.dark-theme .footer {
    padding-bottom: 7.5rem;
}

/* FONT SIZE CV */
body.scale-cv {
    --h1-font-size: 0.938rem;
    --h2-font-size: .938rem;
    --h3-font-size: .875rem;
    --normal-font-size: 0.813rem;
    --small-font-size: 0.75rem;
    --smaller-font-size: 0.688rem;
}

/* REDUCE SIZE AND PRINT A4  */
.scale-cv .change-theme,
.scale-cv .generate-pdf {
    display: none;
}

.scale-cv .bd-container {
    max-width: 785px;
}

.scale-cv .section {
    padding: 1.5rem 0 0.8rem;
}

.scale-cv .section-title {
    margin-bottom: .75rem;
}

.scale-cv .resume__left,
.scale-cv .resume__right {
    padding: 0 1rem;
}

.scale-cv .home__img {
    width: 90px;
    height: 90px;
}

.scale-cv .home__container {
    gap: 1.5rem;
}

.scale-cv .home__data {
    gap: .25rem;
}

.scale-cv .home__address,
.scale-cv .social__container {
    gap: .75rem;
}

.scale-cv .home__icon,
.scale-cv .social__icon,
.scale-cv .interests__icon {
    font-size: 1.5rem;
}

.scale-cv .education__container,
.scale-cv .project__container,
.scale-cv .certificate__container {
    gap: 1rem;
}

.scale-cv .education__time,
.scale-cv .project__time {
    padding-right: .5rem;
}

.scale-cv .education__rounder,
.scale-cv .project__rounder {
    width: 15px;
    height: 15px;
    margin-top: .3rem;
}

.scale-cv .education__line,
.scale-cv .project__line {
    width: 1px;
    height: 110%;
    transform: translate(5px, 0);
}

.scale-cv .education__data, 
.scale-cv .project__data {
    gap: .25rem;
}

.scale-cv .skills__name {
    margin-bottom: var(--mb-1);
}

.scale-cv .interests__container {
    column-gap: 2.5rem;
}

/* BUTTON DARK/LIGHT */
.change-theme {
    position: absolute;
    right: 0;
    top: 2.2rem;
    display: flex;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.change-theme:hover {
    color: var(--title-color);
}

/* GENERATE PDF BUTTON */
.generate-pdf {
    position: absolute;
    top: 2.2rem;
    left: 0;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}

.generate-pdf:hover {
    color: var(--title-color)
}

/* NAV */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .nav__menu {
        position: fixed;
        /* bottom: var(--header-height); */
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem;
        background-color: var(--body-color);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        border-radius: 1rem 1rem 0 0;
        z-index: var(--z-fixed);
        transition: .5s;
    }
    .generate-pdf {
        display: none;
    }
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__toggle {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav__item {
    text-align: center;
}

.nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--title-color);
}

.nav__icon {
    font-size: 1.2rem;
    margin-bottom: var(--mb-1);
}

/* SHOW MENU */
.show-menu {
    bottom: var(--header-height);
}

/* ACTIVE MENU LINK */
.active-link {
    color: var(--title-color);
}

/* HOME */
.home {
    position: relative;
}

.home__container {
    gap: 3rem;
}

.home__data {
    gap: .5rem;
    text-align: center;
}

.home__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    justify-self: center;
    margin-bottom: var(--mb-1);
}

.home__title {
    font-size: var(--h1-font-size);
}

/* GLICH */
.home__title:before, .home__title:after {
    position: absolute;
    opacity: 0.8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.home__title:before {
    color: #0ff;
    z-index: -1;
}
.home__title:after {
    color: #f0f;
    z-index: -2;
}
.home__title:hover:before {
    content: attr(data-text);
    animation: glitch 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}
.home__title:hover:after {
    content: attr(data-text);
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}
@keyframes glitch {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
   }
    20% {
        -webkit-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
        transform: skewX(10deg);
   }
    40% {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
   }
    60% {
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px);
   }
    80% {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
   }
    to {
        -webkit-transform: translate(0);
        transform: translate(0);
   }
}

.home__profession {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
}

.home__address {
    gap: 1rem;
}

.home__information {
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
}
.home__information:hover {
    color: var(--title-color);
}
.home__icon {
    font-size: 1.2rem;
    margin-right: .25rem;
}

.home__button {
    display: inline-block;
    border: 2px solid var(--text-color);
    color: var(--title-color);
    padding: 1rem 2rem;
    border-radius: .25rem;
    transition: .5s;
    font-weight: var(--font-medium);
    margin-top: var(--mb-3);
}

.home__button:hover {
    background-color: var(--text-color);
    color: var(--container-color);
}

/* SOCIAL */
.social__container {
    grid-template-columns: max-content;
    gap: 1rem;
}

.social__link {
    display: inline-flex;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.social__link-text {
    color: #8c8c8c;
}

.social__link:hover {
    color: var(--title-color)
}

.social__icon {
    font-size: 1.2rem;
    margin-right: .25rem;
}

/* PROFILE */
.profile__description {
    text-align: center;
}

/* EDUCATION AND project */
.education__content,
.project__content {
    display: flex;
}

.education__time,
.project__time {
    padding-right: 1rem;
}

.education__rounder,
.project__rounder {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--text-color-light);
    border-radius: 50%;
    margin-top: .25rem;
}

.education__line,
.project__line {
    display: block;
    width: 2px;
    height: 110%;
    background-color: var(--text-color-light);
    transform: translate(7px, 0);
}

.education__data,
.project__data {
    gap: .5rem;
}

.education__title,
.project__title {
    font-size: var(--h3-font-size);
}

.education__studies,
.project__company {
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.project__website {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: 0.4s;
}

.education__year {
    font-size: var(--smaller-font-size);
}

/* SKILLS AND LANGUAGUES */
.skills__content,
.languages__content {
    grid-template-columns: repeat(2, 1fr);
}

.languages__content {
    gap: 0;
}

.skills__name,
.languages__name {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-3);
}

.skills__circle,
.languages__circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 50%;
    margin-right: .75rem;
}

/* CERTIFICATES */
.certificate__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

/* INTERESTS */
.interests__container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: var(--mb-1);
}

.interests__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interests__icon {
    font-size: 1.5rem;
    color: var(--text-color-light);
    margin-bottom: .25rem;
}

/* SCROLL TOP */
.scrolltop {
    position: fixed;
    right: 1rem;
    /* bottom: 5rem; */
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    /* background-color: #000; */
    background-color: var(--container-color-alt);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transform: .5s;
    visibility: hidden;
}

.scrolltop__icon {
    font-size: 1.2rem;
    /* color: var(--container-color); */
    color: var(--text-color-light)
}

/* SHOW SCROLL */
.show-scroll {
    visibility: visible;
    bottom: 5rem;
}

/* FOOTER */
.footer {
    padding-bottom: 8rem;
    display: none;
}


/* ====== MEDIA QUERIES ====== */
@media screen and (max-width: 320px) {
    body {
        cursor: default;
    }
    .nav__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width: 740px) {
    body {
        cursor: default;
    }
}

@media screen and (min-width: 1024px) {
    body {
        margin: 3rem 0;
        background: url('https://i.ibb.co/FwVZrY0/bg-3.jpg') no-repeat fixed center;
        background-size: cover;
        cursor: none;
    }
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }

    .l-header,
    .scrolltop {
        display: none;
    }

    .resume {
        display: grid;
        grid-template-columns: .5fr 1fr;
        background-color: var(--container-color);
        box-shadow: 0 0 8px rgba(13, 12, 12, .15);
    }

    .resume__left {
        background-color: var(--container-color-alt);
    }

    .resume__left,
    .resume__right {
        padding: 0 1.5rem;
    }

    .section-title,
    .profile__description {
        text-align: initial;
    }

    .home__container {
        gap: 1.5rem;
    }

    .home__button {
        display: none;
    }

    .references__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .languages__content {
        grid-template-columns: repeat(3, max-content);
        column-gap: 3.5rem;
    }

    .interests__container {
        grid-template-columns: repeat(4, max-content);
        column-gap: 3.5rem;
    }
    .interests__icon {
        font-size: 1.5rem;
    }
    .footer {
        display: block;
    }
    .hover-this {
        display: inline-block;
    }
    .generate-pdf {
        display: inline-block;
    }
    .overlay h1 {
        letter-spacing: 12px;
    }

    /* CURSOR */
    #cursor {
        position: fixed;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #fff;
        transform: translate(-50%, -50%);
        pointer-events: none;
        mix-blend-mode: difference;
        transform-origin: 70% 70%;
        transition: transform 0.4s ease-in-out;
        z-index: 9999;

        animation: borderAnim 4s linear infinite;
        animation-name: none;
        /* display: none; */
    }

    .section-title:hover ~ #cursor {
        transform: scale(5)
    }

    .hover-this {
        transition: all 0.3s ease;
    }

    .span-hover {
        display: inline-block;
        transition: transform 0.1s linear;
    }

    .span-hover:before, .span-hover:after {
        position: absolute;
        opacity: 0.8;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .span-hover:hover:before {
        content: attr(data-text);
        color: #ff00c1;
        animation: glitch-effect 3s infinite;
    }

    .span-hover:hover:after {
        content: attr(data-text);
        color: #3498db;
        animation: glitch-effect 3s infinite;
    }

    @keyframes glitch-effect {
        0% {
            left: -2px;
            top: -2px;
        }
        25% {
            left: 2px;
            top: 0px;
        }
        50% {
            left: -1px;
            top: 2px;
        }
        75% {
            left: 1px;
            top: -1px;
        }
        100% {
            left: 0px;
            top: -2px;
        }
    }

    .hover-this:hover ~ #cursor {
        transform: translate(-50%, -50%) scale(8);
    }


    @keyframes borderAnim {
        0%,
        100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        }
        25%,
        75% {
        border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
        }
        50% {
        border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
        }
    }
    
    /* Effect Avatar */
    .home__image-effect .home__img {
        -webkit-transition: box-shadow 0.7s;
        -moz-transition: box-shadow 0.7s;
        transition: box-shadow 0.7s;
    }
    .home__image-effect .home__img:hover {
        padding: 5px;
        box-shadow: 0 0 0 5.5px var(--title-color);
        transition: all 0.3s ease-in-out;
    }

    .img-container {
        top: -230px;
    }
}